<div class="container-fluid view-items">
    <app-header>Edit Mob</app-header>

    <div class="row">
        <div class="col col-lg-7">

            <div class="panel">


                <form novalidate [formGroup]="addMobForm" (ngSubmit)="addMob()">
                    <input type="hidden" formControlName="id">
                    <h2>Basic Information</h2>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="e.g Goblin" required formControlName="name">
                                <mat-error *ngIf="addMobForm.get('name').hasError('required')">
                                    Mob name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Long name</mat-label>
                                <input matInput placeholder="e.g A Goblin is here snarling at you." required
                                    formControlName="longName">
                                <mat-error *ngIf="addMobForm.get('longName').hasError('required')">
                                    Mob long name is required.
                                </mat-error>
                                <mat-hint align="start"><strong>Shown when player looks in a room.</strong> </mat-hint>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Level</mat-label>
                                <input type="number" max="99" min="1" matInput placeholder="Level" required
                                    formControlName="level">
                                <mat-error
                                    *ngIf="addMobForm.get('level').hasError('min') || addMobForm.get('level').hasError('max')">
                                    Mob level must be between 1 and 99.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Gender</mat-label>

                                <mat-select formControlName="gender" placeholder="Gender" required
                                    (selectionChange)="selectGender($event)">
                                    <mat-option *ngFor="let gender of genders" [value]="gender.name">
                                        {{ gender.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addMobForm.get('gender').hasError('required')">Genders required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Race</mat-label>
                                <mat-select formControlName="race" placeholder="race" required
                                    (selectionChange)="selectRace($event)">
                                    <mat-option *ngFor="let race of races" [value]="race.name"
                                        [title]="race.description">
                                        {{ race.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addMobForm.get('race').hasError('required')">race is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Class</mat-label>
                                <mat-select formControlName="class" placeholder="class" required
                                    (selectionChange)="selectClass($event)">
                                    <mat-option *ngFor="let class of classes" [value]="class.name"
                                        [title]="class.description">
                                        {{ class.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addMobForm.get('class').hasError('required')">class required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Alignment</mat-label>
                                <mat-select formControlName="alignment" placeholder="alignment" required
                                    (selectionChange)="selectAlignment($event)">
                                    <mat-option *ngFor="let alignment of alignments" [value]="alignment">
                                        {{ alignment.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addMobForm.get('alignment').hasError('required')">alignment required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Status</mat-label>
                                <mat-select formControlName="status" placeholder="Status" required
                                    (selectionChange)="selectStatus($event)">
                                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                                        {{ status.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addMobForm.get('status').hasError('required')">status required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Default Attack Type</mat-label>
                                <mat-select formControlName="attackType" placeholder="Attack Type" required
                                    (selectionChange)="selectStatus($event)">
                                    <mat-option *ngFor="let attack of attackTypes" [value]="attack.name">
                                        {{ attack.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="addMobForm.get('attackType').hasError('required')">attack required
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col" formGroupName="attributes">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Attributes</h2>
                                </div>
                                <div class="col">
                                    <button mat-raised-button color="secondary" type="button" (click)="generateStats()"
                                        class="float-right">Randomise
                                        Attributes</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Strength</mat-label>
                                        <input matInput type="number" max="99" min="1" placeholder="Strength" required
                                            formControlName="strength">
                                        <mat-error
                                            *ngIf="addMobForm.get('attributes').get('strength').hasError('min') || addMobForm.get('attributes').get('strength').hasError('max')">
                                            strength must be between 1 and 99.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Dexterity</mat-label>
                                        <input type="number" max="99" min="1" matInput placeholder="Dexterity" required
                                            formControlName="dexterity">
                                        <mat-error
                                            *ngIf="addMobForm.get('attributes').get('dexterity').hasError('min') || addMobForm.get('attributes').get('dexterity').hasError('max')">
                                            Dexterity must be between 1 and 99.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Constitution</mat-label>
                                        <input type="number" max="99" min="1" matInput placeholder="Constitution"
                                            required formControlName="constitution">
                                        <mat-error
                                            *ngIf="addMobForm.get('attributes').get('constitution').hasError('min')||addMobForm.get('attributes').get('constitution').hasError('max')">
                                            constitution must be between 1 and 99.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Wisdom</mat-label>
                                        <input type="number" max="99" min="1" matInput placeholder="Wisdom" required
                                            formControlName="wisdom">
                                        <mat-error
                                            *ngIf="addMobForm.get('attributes').get('wisdom').hasError('min') ||addMobForm.get('attributes').get('wisdom').hasError('max')">
                                            wisdom must be between 1 and 99.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Intelligence</mat-label>
                                        <input type="number" max="99" min="1" matInput placeholder="Intelligence"
                                            required formControlName="intelligence">
                                        <mat-error
                                            *ngIf="addMobForm.get('attributes').get('intelligence').hasError('min') ||addMobForm.get('attributes').get('intelligence').hasError('max')">
                                            intelligence must be between 1 and 99.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Charisma</mat-label>
                                        <input type="number" max="99" min="1" matInput placeholder="Charisma" required
                                            formControlName="charisma">
                                        <mat-error
                                            *ngIf="addMobForm.get('attributes').get('charisma').hasError('min') ||addMobForm.get('attributes').get('charisma').hasError('max')">
                                            charisma must be between 1 and 99.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col" formGroupName="stats">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Stats</h2>
                                </div>
                                <div class="col">
                                    <button mat-raised-button color="secondary" type="button" (click)="generateStats()"
                                        class="float-right">Randomise
                                        Stats</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Hit points</mat-label>
                                        <input matInput type="number" max="9999" min="1" placeholder="Hit points"
                                            [value]="addMobForm.get('level').value | generateHp: addMobForm.get('attributes').get('constitution').value || 1"
                                            required formControlName="hitPoints">
                                        <mat-error
                                            *ngIf="addMobForm.get('stats').get('hitPoints').hasError('min') || addMobForm.get('stats').get('hitPoints').hasError('max')">
                                            Hit points must be between 1 and 9999.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Mana points</mat-label>
                                        <input type="number" max="9999" min="1" matInput placeholder="Mana points"
                                            [value]="addMobForm.get('level').value | generateMana: addMobForm.get('attributes').get('intelligence').value || 1"
                                            required formControlName="manaPoints">
                                        <mat-error
                                            *ngIf="addMobForm.get('stats').get('manaPoints').hasError('min') || addMobForm.get('stats').get('manaPoints').hasError('max')">
                                            Mana Points must be between 1 and 9999.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Move Points</mat-label>
                                        <input type="number" max="9999" min="1" matInput placeholder="Move points"
                                            required formControlName="movePoints">
                                        <mat-error
                                            *ngIf="addMobForm.get('stats').get('movePoints').hasError('min') ||addMobForm.get('stats').get('movePoints').hasError('max')">
                                            Move Points must be between 1 and 9999.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row" *ngIf="inventoryItems.length">
                        <div class="col">
                            <app-inventory [inventory]="inventoryItems"></app-inventory>
                        </div>
                        <div class="col">
                            <app-equipment></app-equipment>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Description</h2>
                                </div>
                            </div>
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Description" required formControlName="description"
                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10" (selectionChange)="triggerDescriptionResize()">

                      </textarea>
                                <mat-error *ngIf="addMobForm.get('description').hasError('required')">
                                    Mob description is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Emotes</h2>
                                </div>
                            </div>
                            <div formArrayName="emotes" class="emotes"
                                *ngFor="let emote of getEmotesControl.controls; let i=index">

                                <mat-form-field appearance="outline" class="form-control" [formGroupName]="i">
                                    <mat-label>Emotes</mat-label>
                                    <input type="text" matInput placeholder="emote" formControlName="emote" />

                                </mat-form-field>
                                <a class="btn btn-danger btn-sm" (click)="removeLink(i)">Remove</a>

                            </div>


                            <button mat-flat-button color="secondary" (click)="this.addEmote(null)" type="button">Add
                                another
                                emote</button>

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Commands</h2>
                                </div>
                            </div>
                            <div>

                                <mat-form-field appearance="outline" class="form-control">
                                    <mat-label>commands</mat-label>
                                    <input type="text" matInput placeholder="commands. e.g n;e;s;w;n"
                                        formControlName="commands" />

                                </mat-form-field>

                            </div>

                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Events</h2>
                                </div>
                            </div>
                            <div class="editor-accordion">

                                <mat-accordion>
                                    <mat-expansion-panel hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Enter
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                This event fires when a player or mob enters the room.
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <ngs-code-editor [theme]="theme" [codeModel]="codeModel" [options]="options"
                                            (valueChanged)="onCodeChanged($event)">
                                        </ngs-code-editor>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Leave
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                This event fires when a player or mob leaves the room.
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p>I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </mat-accordion>

                            </div>

                        </div>
                    </div>

                    <button mat-raised-button color="primary" type="submit" [disabled]="addMobForm.invalid">Update
                        Mob</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-5">
            <app-mob-preview-component [mobForm]="addMobForm"></app-mob-preview-component>
        </div>
    </div>
</div>