<div class="alert alert-primary" role="alert" *ngIf="filteredata.length == 0">
    <b>Mobs will be displayed here.</b> Click the 'add mob' button to find a mob to add if you wish to do so.
    <div style="margin-top:15px">
        <button mat-raised-button color="primary" type="button" (click)="openDialog()">
            Add Mob
        </button>
    </div>
</div>


<button class="add-button" type="button" mat-raised-button color="primary" (click)="openDialog()">
    Add mob
</button>
<div class="data-list">
    <div class="data-list__data" *ngFor="let data of filteredata; let i = index">
        <a (click)="removeItem(filteredata, i)" class="fa fa-times-circle"></a>
        <h3 [line-truncation]="2">{{data.name}}</h3>
        <p class="data-list__data__description" [line-truncation]="3">{{data.description}}</p>


        <div class="data-list__actions">

            <div class="row">
                <div class="col">
                    <p><i class="ra ra-fox"></i> Lvl: {{data.level}}</p>
                    <p><i class="fa fa-calendar"></i> {{data.dateUpdated | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <a target="_blank" mat-raised-button color="primary" [routerLink]="['/edit-item/', data.id]">
                        View
                    </a>
                </div>
                <div class="col">
                    <a style="margin: 15px 0" target="_blank" mat-raised-button color="primary"
                        (click)="openInventoryDialog(data, data, 0)">
                        Inventory
                    </a>
                </div>
                <div class="col">
                    <button mat-flat-button color="secondary" target="_blank"
                        [routerLink]="['/world/edit-area', data.id]">
                        Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>