<div class="section" [formGroup]="addRoomForm">

    <h2>Exits:</h2>
    <p>
        Exits will need to be added to both rooms to be two way,
        and share the same key for any doors, all properties must match too.
    </p>
    <p>Coordinates shown are (x,y,z)</p>

    <div class="addRoom__exits" formGroupName="exits">

        <div class="row">


            <div class="col">

                <button title="Add North West Exit" [disabled]="!northWestValidExit && exits.northWest == null"
                    mat-raised-button type="button" (click)="openExitDialog('North West')"
                    [color]="exits.northWest != null ? 'primary' : ''">
                    North west
                    <span class="addRoom__exits__coords">
                        {{displayCoord('North West')}}
                    </span>
                </button>


            </div>
            <div class="col">
                <button [disabled]="!northValidExit && exits.north == null" title="Add North Exit" mat-raised-button
                    type="button" (click)="openExitDialog('North')" [color]="exits.north != null ? 'primary' : ''">
                    North
                    <span class="addRoom__exits__coords">
                        {{displayCoord('North')}}
                    </span>
                </button>



                <a href="javascript:(0)" *ngIf=" exits.north != null">Remove
                    exit</a>
            </div>

            <div class="col">

                <button title=" Add North East Exit" [disabled]="!northEastValidExit && exits.northEast == null"
                    mat-raised-button type="button" (click)="openExitDialog('North East')"
                    [color]="exits.northEast != null ? 'primary' : ''">
                    North East
                    <span class="addRoom__exits__coords">
                        {{displayCoord('North East')}}
                    </span>
                </button>

            </div>
        </div>

        <div class="row">

            <div class="col">

                <button title="Add West Exit" [disabled]="!westValidExit && exits.west == null" mat-raised-button
                    type="button" (click)="openExitDialog('West')" [color]="exits.west != null ? 'primary' : ''">
                    West
                    <span class="addRoom__exits__coords">
                        {{displayCoord('West')}}
                    </span>
                </button>

            </div>

            <div class="col">
                <button mat-raised-button type="button" disabled="true">
                    Current Room
                    <span class="addRoom__exits__coords">({{coords?.x}},
                        {{coords?.y}},
                        {{coords?.z}})</span>
                </button>
            </div>

            <div class="col">

                <button title="Add East Exit" [disabled]="!eastValidExit && exits.east == null" mat-raised-button
                    [color]="exits.east != null ? 'primary' : ''" type="button" (click)="openExitDialog('East')">
                    East
                    <span class="addRoom__exits__coords">
                        {{displayCoord('East')}}
                    </span>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col">

                <button title="Add South West Exit" [disabled]="!southWestValidExit && exits.southWest == null"
                    mat-raised-button type="button" (click)="openExitDialog('South West')"
                    [color]="exits.southWest != null ? 'primary' : ''">
                    South West
                    <span class="addRoom__exits__coords">
                        {{displayCoord('South West')}}
                    </span>
                </button>


            </div>
            <div class="col">

                <button title="Add South Exit" [disabled]="!southValidExit && exits.south == null" mat-raised-button
                    type="button" (click)="openExitDialog('South')" [color]="exits.south != null ? 'primary' : ''">
                    South
                    <span class="addRoom__exits__coords">
                        {{displayCoord('South')}}
                    </span>
                </button>


            </div>


            <div class="col">

                <button title="Add South East Exit" [disabled]="!southEastValidExit && exits.southEast == null"
                    mat-raised-button type="button" (click)="openExitDialog('South East')"
                    [color]="exits.southEast != null ? 'primary' : ''">
                    South East
                    <span class="addRoom__exits__coords">
                        {{displayCoord('South East')}}
                    </span>
                </button>


            </div>

        </div>

        <div class="row">
            <div class="col">
                <button mat-raised-button type="button" [disabled]="exits.up == null" (click)="openExitDialog('Up')"
                    [color]="exits.up != null ? 'primary' : ''">
                    Up
                    <span class="addRoom__exits__coords">
                        {{displayCoord('Up')}}
                    </span>
                </button>


            </div>

            <div class="col">
                <button mat-raised-button type="button" [disabled]="exits.down == null" (click)="openExitDialog('Down')"
                    [color]="exits.down != null ? 'primary' : ''">
                    Down
                    <span class="addRoom__exits__coords">
                        {{displayCoord('Down')}}
                    </span>
                </button>

            </div>
        </div>

    </div>
</div>
<!-- <div class="section">
    <h2>Coords:</h2>
    <p>
        These are automatically set based on the map on the area page. You
        should rarely need to manually change these but you have the option to
        do so.
    </p>

    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>X:</mat-label>
                <input matInput placeholder="X Coord" required formControlName="CoordX" />
                <mat-error *ngIf="exits.CoordX.hasError('required')">
                    X coord is required.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Y:</mat-label>
                <input matInput placeholder="Y Coord" required formControlName="CoordY" />
                <mat-error *ngIf="exits.CoordY.hasError('required')">
                    y coord is required.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Z:</mat-label>
                <input matInput placeholder="Z Coord" required formControlName="CoordZ" />
                <mat-error *ngIf="exits.CoordY.hasError('required')">
                    z coord is required.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div> -->