@import "src/app/shared/sass/variables.scss";

header {
    // box-shadow: 0px 0px 10px #888;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 65px;
    background-color: #333;
}

.toggle-sidebar {
    appearance: button;
    background: transparent;
    border: 0 none;
    font-size: $fontSizeXL;
    padding: 0 20px;

    &:hover {
        cursor: pointer;
    }

    &:active,
    &:focus {
        outline: none;
    }
}

.header__page-title {
    font-size: $fontSizeXL;
}
