<div class="container-fluid view-items">
    <app-header>Add Skills or Spell</app-header>

    <div class="row">
        <div class="col-8">

            <div class="panel">
                <form novalidate [formGroup]="">
                    <input type="hidden" formControlName="id">



                    <button mat-raised-button color="primary" type="submit">Add
                        Skill / Spell</button>
                </form>
            </div>
        </div>
        <div class="col-4">
            <!-- <app-item-preview-component [itemForm]=""></app-item-preview-component> -->
        </div>
    </div>
</div>