.emotes {
    position: relative;
    margin-bottom: 15px;

    a {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
.editor-accordion {
    margin-bottom: 20px;
}
button[type="submit"] {
    margin-top: 40px;
}


.add-emote-btn {
    margin-bottom: 25px;
    max-width: 230px; 
}