<form [formGroup]="formGroup">
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Add item</mat-label>
                <input type="text" placeholder="Search for an item" aria-label="Assignee" matInput
                    formControlName="itemSearch" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItems">
                    <mat-option *ngFor="let option of filteredItems | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>Coin Value</mat-label>
                <input matInput type="number" placeholder="Number of coins" formControlName="value">
                <mat-hint align="start"><strong>Number of coins</strong>
                </mat-hint>
            </mat-form-field>
            <button href="javascript:(0)" mat-raised-button color="primary" (click)="addItem()"
                [disabled]="formGroup.get('itemSearch').value == null">Add
                item</button>
        </div>
    </div>
</form>