 

// ::ng-deep .mat-form-field-outline, ::ng-deep .mat-form-field-wrapper {
//     margin: 0!important;
// padding: 0!important;

// }

button {
    margin-bottom: 20px;
}

.btn-danger {
    margin-top: -20px;
    display: inline-block;
    margin-bottom: 20px;
}

.submit {margin-top: 40px;}

.craftedItem {margin-top: 20px;}