<div class="container-fluid view-items">
    <app-header>View Areas</app-header>

    <div class="">
        <button mat-raised-button color="primary" routerLink="/world/add-area">Add a new area</button>
        <br />
        <br />


        <mat-form-field appearance="outline" class="form-control">
            <mat-label>Filter Areas</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search area by name">
        </mat-form-field>




        <div class="data-list">
            <div class="data-list__data" *ngFor="let data of filteredata">
                <h3 [line-truncation]="2">{{data.title}}</h3>
                <p class="data-list__data__description" [line-truncation]="3">{{data.description}}</p>


                <div class="data-list__actions">

                    <div class="row">
                        <div class="col">
                            <p><i class="fa fa-map"></i> {{data.rooms || 0}} rooms</p>
                            <p><i class="fa fa-calendar"></i> {{data.dateUpdated | date: 'dd/MM/yyyy'}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button mat-raised-button color="primary" [routerLink]="['/world/area', data.id]"> View
                            </button>
                        </div>
                        <div class="col">
                            <button mat-flat-button color="secondary" [routerLink]="['/world/edit-area', data.id]">
                                Edit</button>
                        </div>
                    </div>
                </div>



            </div>


        </div>

        <mat-paginator [length]="data.length" [pageSize]="defaultRecords" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="onPaginateChange($event)">
        </mat-paginator>


    </div>
</div>