<div class="alert alert-primary" role="alert" *ngIf="filteredata.length == 0">
    <b>Items will be displayed here.</b> Click the 'add item' button to find an item to add if you wish to do so.
    <div style="margin-top:15px">
        <button mat-raised-button color="primary" type="button" (click)="openDialog()">
            Add Item
        </button>
    </div>
</div>

<div *ngIf="filteredata.length != 0">
    <button style="margin-top: 0;" class="add-button" type="button" mat-raised-button color="primary"
        (click)="openDialog()">
        Add Item
    </button>
    <div class="data-list">
        <div class="data-list__data" *ngFor="let data of filteredata">
            <h3 [line-truncation]="2">{{data.name}}</h3>
            <p class="data-list__data__description" [line-truncation]="3">{{data.description.look}}</p>


            <div class="data-list__actions">

                <div class="row">
                    <div class="col">
                        <p><i class="ra ra-sword"></i> Lvl: {{data.level}} / {{data.itemType | itemType }}</p>
                        <p><i class="fa fa-calendar"></i> {{data.dateUpdated | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a target="_blank" mat-raised-button color="primary" [routerLink]="['/edit-item/', data.id]">
                            View
                        </a>
                    </div>
                    <div class="col" *ngIf="data.itemType === 2">
                        <a style="margin: 15px 0" target="_blank" mat-raised-button color="primary"
                            (click)="openContainerDialog(data, data, 0)">
                            View Container Items
                        </a>
                    </div>
                    <div class="col">
                        <button mat-flat-button color="secondary" target="_blank"
                            [routerLink]="['/world/edit-area', data.id]">
                            Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>