<div class="alert alert-primary" role="alert" *ngIf="filteredata.length == 0">
    <b>Items will be displayed here.</b> Click the 'add item' button to find an item to add if you wish to do so.
    <div style="margin-top:15px">
        <button mat-raised-button color="primary" type="button" (click)="openDialog()">
            Add Item
        </button>
    </div>
</div>

<div *ngIf="filteredata.length != 0">
    <button style="margin-top: 0;" class="add-button" type="button" mat-raised-button color="primary"
        (click)="openDialog()">
        Add Item
    </button>
    <div class="data-list">
        <div class="data-list__data" *ngFor="let data of filteredata">
            <h3 [line-truncation]="2">{{data.name}}</h3>
            <p class="data-list__data__description" [line-truncation]="3">{{data.description.look}}</p>


            <div class="data-list__actions">

                <div class="row">
                    <div class="col">
                        <p><i class="ra ra-sword"></i> Lvl: {{data.level}} / {{data.itemType | itemType }}</p>
                        <p><i class="fa fa-calendar"></i> {{data.dateUpdated | date: 'dd/MM/yyyy'}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <a target="_blank" mat-raised-button color="primary" [routerLink]="['/edit-item/', data.id]">
                            View
                        </a>
                    </div>
                    <div class="col">
                        <a target="_blank" mat-raised-button color="primary"
                            (click)="openContainerDialog(data, data, 0)">
                            View Container Items
                        </a>
                    </div>
                    <div class="col">
                        <button mat-flat-button color="secondary" target="_blank"
                            [routerLink]="['/world/edit-area', data.id]">
                            Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <table *ngIf="dataSource.length != 0" mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay;">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <div *ngIf="column == 'actions'">
                <td mat-cell *matCellDef="let k = dataIndex"> <button mat-button
                        (click)="removeItem(dataSource, k)">{{k}}
                        Edit</button> | <button mat-button (click)="removeItem(dataSource, k)">Remove
                    </button></td>
            </div>
            <div *ngIf="column == 'container'">
                <td mat-cell *matCellDef="let element">
                    {{element.itemType == '2' ? 'True' : 'False'}}
                </td>
            </div>

            <div *ngIf="column == 'slot'">
                <td mat-cell *matCellDef="let element">
                    {{mapSlot(element.slot)}} {{element.slot}}
                </td>
            </div>

            <div *ngIf="column != 'actions' || column != 'container' || column != 'slot'">
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </div>
        </ng-container>


       
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                <div *ngIf="!disableContainerItems && element.itemType == '2'" class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <h2> Container Items</h2>
                    <div>
                        {{element | json }}
                        <app-item-list [data]="element.container.items" [container]="element"></app-item-list>
                    </div>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table> -->



</div>