<mat-sidenav-container class="sidebar" [ngClass]="(expanded$ | async) ? 'sidebar--open' : 'sidebar--close'">

    <mat-sidenav #sidenav mode="side" opened="true" class="sidebar__sidenav" *ngIf="showNav">
        <a class="sidebar__logo" [routerLink]="'/'">
            <img src="/assets/img/archaic-quest.png" alt="ArchaicQuest II" />
        </a>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header matTooltip="Dashboard" matTooltipPosition="right"
                    (click)="toggleSidenav(true)">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span *ngIf="expanded$ | async">Home</span>
                </mat-expansion-panel-header>
                <ul>
                    <li>
                        <a (click)="toggleSidenav(false)" [routerLink]="['/']">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="toggleSidenav(false)" [routerLink]="['/settings']">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Settings</span>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header matTooltip="Areas" matTooltipPosition="right" (click)="toggleSidenav(true)">
                    <i class="fa fa-map-signs" aria-hidden="true"></i>
                    <span *ngIf="expanded$ | async">Areas</span>
                </mat-expansion-panel-header>
                <ul>
                    <li>
                        <a [routerLink]="['/world/list-areas']" (click)="toggleSidenav(false)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">View Areas</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/world/add-area']" (click)="toggleSidenav(false)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Create Area</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="clearRoomCache()">
                            <i class="fa fa-database" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Clear Cache</span>
                        </a>

                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header matTooltip="Items" matTooltipPosition="right" (click)="toggleSidenav(true)">
                    <i class="fa fa-shield" aria-hidden="true"></i>
                    <span *ngIf="expanded$ | async">Items</span>
                </mat-expansion-panel-header>
                <ul>
                    <li>
                        <a [routerLink]="['/items']" (click)="toggleSidenav(false)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">View Items</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/add-item']" (click)="toggleSidenav(false)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Create Item</span>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header matTooltip="Mobs" matTooltipPosition="right" (click)="toggleSidenav(true)">
                    <i class="ra ra-fox " aria-hidden="true"></i>
                    <span *ngIf="expanded$ | async">Mobs</span>
                </mat-expansion-panel-header>
                <ul>
                    <li>
                        <a [routerLink]="['/mobs']" (click)="toggleSidenav(false)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">View Mobs</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/add-mob']" (click)="toggleSidenav(false)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Create Mob</span>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header matTooltip="Skills & Spells" matTooltipPosition="right"
                    (click)="toggleSidenav(true)">
                    <i class="ra ra-flame-symbol" aria-hidden="true"></i>
                    <span *ngIf="expanded$ | async">Skills & Spells (WIP)</span>
                </mat-expansion-panel-header>
                <ul>
                    <li>
                        <a [routerLink]="['/skills-spells/view']" (click)="toggleSidenav(false)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">View skills & spells</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/skills-spells/add']" (click)="toggleSidenav(false)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Create skills & spells</span>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header matTooltip="Class" matTooltipPosition="right" (click)="toggleSidenav(true)">
                    <i class="ra ra-axe" aria-hidden="true"></i>
                    <span *ngIf="expanded$ | async">Class (WIP)</span>
                </mat-expansion-panel-header>
                <ul>
                    <li>
                        <a [routerLink]="['/class/view']" (click)="toggleSidenav(false)">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">View classes</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="" (click)="toggleSidenav(false)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span *ngIf="expanded$ | async">Create class</span>
                        </a>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>

        <div class="sideNav__footer">

            <a href="#0" class="sideNav__footer-item sideNav__footer-item--link" (click)="logout($event)"
                matTooltip="Log out" matTooltipPosition="right">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span *ngIf="expanded$ | async">Log out</span>
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="dark-overlay" (click)="toggleSidenav(false)"></div>
        <ng-content></ng-content>
    </mat-sidenav-content>

</mat-sidenav-container>