@import "src/app/shared/sass/variables.scss";

.sidebar {
  height: 100%;

  .mat-drawer-container {
      background: #fff;
  }

  .mat-drawer-content {
    scroll-behavior: smooth;
    height: calc(100% - 65px);
  }

  ::ng-deep  header {
    padding: 0 50px;
    height: 65px;
    background-color: #fff;
  }

  .sidebar__logo {
    background-color: $secondaryBrandColor;
    padding: 4px 30px;
    display: block;
    border-bottom: 1px solid $primaryBrandColor;
    height: 66px;
  }

  .mat-expansion-panel-spacing {
    margin: 0 !important;
  }

  &.sidebar--close {
    .sidebar__logo {
      transition: height 0.3s;
      background-image: url("https://avatars3.githubusercontent.com/u/43520111");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;

      img {
        display: none;
      }
    }

    ::ng-deep .mat-expansion-indicator {
      display: none;
    }

    ::ng-deep .mat-sidenav-content {
      transition: margin-left 0.3s;
      margin-top: 65px;
      padding: 15px;
    }

    ::ng-deep header {
      padding-left: 84px !important;
      transition: padding-left 0.3s;
    }

    .sidebar__sidenav {
      width: $sidebarWidthClosed;
      transition: width 0.3s;
    }
  }

  &.sidebar--open {
    .sidebar__sidenav {
      width: 250px;
      transition: width 0.3s;
    }

    .sidebar__logo img {
      max-width:100%;
      margin: auto;
      display: block;
      margin-top:11px;
    }

    ::ng-deep .mat-sidenav-content {
      margin-left: 250px !important;
      margin-top: 65px;
      padding: 15px;
      transition: margin-left 0.3s;
    }

    ::ng-deep header {
      padding-left: 272px !important;
      transition: padding-left 0.3s;
    }
  }
}

.sidebar__sidenav {
  position: fixed;
  width: $sidebarWidthOpen;
  background: $primaryBrandColor;
  border: none;
  overflow-x: hidden;

  ::ng-deep {
    .mat-drawer-inner-container {
      overflow-x: hidden;
    }

    .mat-content {
      line-height: 1;
      min-width: 50px;
    }

    .mat-expansion-panel-header .fa,   .mat-expansion-panel-header .ra {
      margin-right: 9px;
    }

    .mat-expansion-panel-body .fa, .mat-expansion-panel-body .ra {
      margin-right: 10px;
    }

    .mat-expansion-panel-header {
      border-radius: 0px;

      &:hover {
        background-color: $secondaryBrandColor !important;
      }
    }

    .mat-expansion-panel {
      box-shadow: none;
      border-bottom: 1px solid #222;
      border-radius: 0px;
      background: $primaryBrandColor;
      color: #fff;
    }

    .mat-expansion-indicator::after {
      color: #fff !important;
    }
  }

  ::ng-deep .mat-expansion-panel-content {
    background-color: #222;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px 0 0 0;

      a {
        display: block;
        color: #fff;
        position: relative;
        left: 0;
        transition: left 0.3s, color 0.3s;

        &:hover {
          left: 10px;
          color: #f6d437;
          transition: left 0.3s, color 0.3s;
        }
      }
    }

    li {
      margin-bottom: 15px;
    }
  }
}

.sideNav__footer {
  position: absolute;
  bottom: 20px;
  padding-left: 24px;

  &-item {
    display: block;
    margin-bottom: 15px;
    color: #fff;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }

    &--link {
      &:hover {
        color: #f6d437;
      }
    }

    .fa {
      margin-right: 9px;
    }
  }
}
