<nav>
    <h2>ArchaicQuest II</h2>

    <ul>
        <li> <a class="nav-link" [routerLink]="['/']">Dashboard</a> </li>
        <li> <a class="nav-link" [routerLink]="['/items']">Items</a> </li>
        <li> <a class="nav-link" [routerLink]="['/add-mob']">Mobs</a> </li>
        <li> <a class="nav-link" [routerLink]="['/add-room']">Rooms</a> </li>
        <li> <a href="nav-link" [routerLink]="['/list-areas']">List Areas</a></li>
        <li> <a class="nav-link" [routerLink]="['/add-area']">Areas</a> </li>
    </ul>
</nav>