nav {
    width: 250px;
    height: 100%;
    position: fixed;
    flex: 0 250;
    background-color: #2d323e;

    h2 {
        margin: 0;
        color: #fff;
    }

    a {
         color:#fff;
    }
}
