<app-header>Add new room</app-header>
<div class="row">
    <div class="col-7">
        <div class="panel">
            <form novalidate [formGroup]="addRoomForm" (ngSubmit)="saveRoom()">
                <h2>Room Information:</h2>
                <div class="section">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Title</mat-label>
                                <input matInput placeholder="Title" value="" required formControlName="title" />
                                <mat-error *ngIf="addRoomForm.get('title').hasError('required')">
                                    Room title is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Title" cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                    required formControlName="description"></textarea>
                                <mat-error *ngIf="addRoomForm.get('description').hasError('required')">
                                    Room description is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <h2>Room Objects:</h2>
                <p>
                    These are used to add more Information about key items highlighted in
                    the description.
                </p>
                <div class="section">
                    <div class="row room__addObjects">
                        <div class="col">
                            <div class="room__addObjects__section" formArrayName="roomObjects" *ngFor="
                let roomObject of getRoomObjectsControl.controls;
                let i = index
              ">
                                <div [formGroupName]="i">
                                    <mat-form-field appearance="outline" class="form-control">
                                        <mat-label>Keyword</mat-label>
                                        <input type="text" matInput placeholder="Keyword" formControlName="name" />
                                    </mat-form-field>

                                    <div class="row">
                                        <div class="col">
                                            <mat-form-field appearance="outline" class="form-control">
                                                <mat-label>Look</mat-label>
                                                <textarea matInput placeholder="Basic description" cdkTextareaAutosize
                                                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                                    cdkAutosizeMaxRows="20" formControlName="look"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col">
                                            <mat-form-field appearance="outline" class="form-control">
                                                <mat-label>Examine</mat-label>
                                                <textarea matInput placeholder="Detailed Description"
                                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                    formControlName="examine"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <mat-form-field appearance="outline" class="form-control">
                                                <mat-label>Touch</mat-label>
                                                <textarea matInput placeholder="How does the object feel?"
                                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                    formControlName="touch"></textarea>
                                            </mat-form-field>
                                        </div>

                                        <div class="col">
                                            <mat-form-field appearance="outline" class="form-control">
                                                <mat-label>Taste</mat-label>
                                                <textarea matInput placeholder="How does the object taste?"
                                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                    formControlName="taste"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col">
                                            <mat-form-field appearance="outline" class="form-control">
                                                <mat-label>Smell</mat-label>
                                                <textarea matInput placeholder="How does the object smell?"
                                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                    formControlName="smell"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <button mat-raised-button (click)="removeRoomObject(i)">Remove</button>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <button mat-raised-button color="primary" (click)="this.addRoomObject()">Add another
                                        Room
                                        Object</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <h2>Items</h2>

                    <app-item-list [data]="items"></app-item-list>
                </div>

                <div class="section">
                    <h2>Mobs</h2>

                    <app-mob-list [data]="mobs"></app-mob-list>
                </div>



                <div class="section">
                    <h2>Exits:</h2>
                    <p>
                        Exits will need to be added to both rooms to be two way,
                        and share the same key for any doors, all properties must match too.
                    </p>
                    <p>Coordinates shown are (x,y,z)</p>

                    <app-exit-component [addRoomForm]="this.addRoomForm"></app-exit-component>

                    <button mat-raised-button color="primary" type="submit" [disabled]="addRoomForm.invalid">
                        Save Room
                    </button>
            </form>
        </div>
    </div>

    <div class="col-5">
        <div class="client">
            <p class="room__description">Room Preview:</p>
            <p class="echo">> look</p>
            <p class="room__title">
                {{
          addRoomForm.get("title").value === ""
            ? "This is the room title"
            : addRoomForm.get("title").value
        }}
            </p>
            <p class="room__description">
                {{
          addRoomForm.get("description").value === ""
            ? "Your beautifully written room description shown here."
            : addRoomForm.get("description").value
        }}
            </p>

            <p class="room__description" *ngFor="let item of items; let i = index">
                {{ item.name }} lies here.
            </p>
            <p class="room__description" *ngFor="let mob of mobs; let i = index">
                {{ mob.longName == null ? mob.name + " is here" : mob.longName }}.
            </p>
            <p class="room__exit">
                <span style="color:white">
                    Exits: [
                </span>
                <span *ngIf="exits.north">
                    {{exits.north.name}},
                </span>
                <span *ngIf="exits.east">
                    {{exits.east.name}},
                </span>
                <span *ngIf="exits.south">
                    {{exits.south.name}},
                </span>
                <span *ngIf="exits.west">
                    {{exits.west.name}},
                </span>
                <span *ngIf="exits.up">
                    {{exits.up.name}},
                </span>
                <span *ngIf="exits.down">
                    {{exits.down.name}},
                </span>
                <span *ngIf="exits.northWest">
                    {{exits.northWest.name}},
                </span>
                <span *ngIf="exits.northEast">
                    {{exits.northEast.name}},
                </span>
                <span *ngIf="exits.southWest">
                    {{exits.southWest.name}},
                </span>
                <span *ngIf="exits.southEast">
                    {{exits.southEast.name}},
                </span>

                <span style="color:white">
                    ]
                </span>
            </p>
            <br />
            <p class="room__description">Room Keywords Preview:</p>

            <div *ngFor="let roomObject of getRoomObjectsControl.controls; let i = index"
                style="border-bottom: 1px dashed #555; padding-bottom: 10px">
                <div *ngIf="roomObject.value.look">
                    <p class="echo">> look {{ roomObject.value.name }}</p>

                    <p class="room__description">
                        {{ roomObject.value.look }}
                    </p>
                </div>

                <div *ngIf="roomObject.value.examine">
                    <p class="echo">> examine {{ roomObject.value.name }}</p>

                    <p class="room__description">
                        {{ roomObject.value.examine }}
                    </p>
                </div>
                <div *ngIf="roomObject.value.touch">
                    <p class="echo">> touch {{ roomObject.value.name }}</p>

                    <p class="room__description">
                        {{ roomObject.value.touch }}
                    </p>
                </div>
                <div *ngIf="roomObject.value.taste">
                    <p class="echo">> taste {{ roomObject.value.name }}</p>

                    <p class="room__description">
                        {{ roomObject.value.taste }}
                    </p>
                </div>
                <div *ngIf="roomObject.value.smell">
                    <p class="echo">> smell {{ roomObject.value.name }}</p>

                    <p class="room__description">
                        {{ roomObject.value.smell }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>