<div [formGroup]="formGroup">
    <h2>Equipment</h2>

    <div class="row" *ngIf="isInventoryEmpty()">
        <div class="col">
            <div class="alert alert-warning" role="alert">
                <p>Equipment slots will appear here, once you add some items to the inventory.</p>
            </div>
        </div>
    </div>

    <app-armour-class [equipment]="formGroup"></app-armour-class>


    <div class="row">
        <div class="col" *ngIf="lightItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Light</mat-label>
                <mat-select formControlName="lightEq" placeholder="Light" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Light)">
                    <mat-option (click)="formGroup.get('lightEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of lightItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="headItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Head</mat-label>
                <mat-select formControlName="headEq" placeholder="Head" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Head)">
                    <mat-option (click)="formGroup.get('headEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of headItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="neckItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Neck 1</mat-label>
                <mat-select formControlName="neckEq" placeholder="Neck 1" [compareWith]="compareOptions"
                    (selectionChange)="neckChange($event)">
                    <mat-option (click)="formGroup.get('neckEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of neckItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="neckItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Neck 2</mat-label>
                <mat-select formControlName="neck2Eq" placeholder="Neck 2" [compareWith]="compareOptions"
                    (selectionChange)="neck2Change($event)">
                    <mat-option (click)="formGroup.get('neck2Eq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of neckItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="bodyItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Worn about Body</mat-label>
                <mat-select formControlName="bodyEq" placeholder="Worn about body" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event)">
                    <mat-option (click)="formGroup.get('bodyEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of bodyItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="torsoItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Torso</mat-label>
                <mat-select formControlName="torsoEq" placeholder="Torso" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Torso)">
                    <mat-option (click)="formGroup.get('torsoEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of torsoItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="waistItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Worn about waist</mat-label>
                <mat-select formControlName="waistEq" placeholder="Worn about waist" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Waist)">
                    <mat-option (click)="formGroup.get('wasitEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of waistItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="legsItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Legs</mat-label>
                <mat-select formControlName="legsEq" placeholder="Legs" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Legs)">
                    <mat-option (click)="formGroup.get('legsEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of legsItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="feetItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Feet</mat-label>
                <mat-select formControlName="feetEq" placeholder="Feet" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Feet)">
                    <mat-option (click)="formGroup.get('feetEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of feetItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="armsItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Arms</mat-label>
                <mat-select formControlName="armsEq" placeholder="Arms" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Arms)">
                    <mat-option (click)="formGroup.get('armsEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of armsItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="handsItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Hands</mat-label>
                <mat-select formControlName="handsEq" placeholder="Hands" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Hands)">
                    <mat-option (click)="formGroup.get('handsEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of handsItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="wristItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Wrist 1</mat-label>
                <mat-select formControlName="wristEq" placeholder="Wrist 1" [compareWith]="compareOptions">
                    <mat-option (click)="formGroup.get('wristEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of wristItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="wristItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Wrist 2 - broken</mat-label>
                <mat-select formControlName="wrist2Eq" placeholder="Wrist 2" [compareWith]="compareOptions">
                    <mat-option (click)="formGroup.get('wrist2Eq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of wristItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="fingerItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Finger</mat-label>
                <mat-select formControlName="fingerEq" placeholder="Finger" [compareWith]="compareOptions"
                    (selectionChange)="fingerChange($event)">
                    <mat-option (click)="formGroup.get('fingerEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of fingerItems" [value]="item">
                        {{ item.name }} {{item.uuid}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="fingerItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Finger 2</mat-label>
                <mat-select formControlName="finger2Eq" placeholder="Finger 2" [compareWith]="compareOptions"
                    (selectionChange)="finger2Change($event)">
                    <mat-option (click)="formGroup.get('finger2Eq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of fingerItems" [value]="item">
                        {{ item.name }} {{item.uuid}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="heldItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Held</mat-label>
                <mat-select formControlName="heldEq" placeholder="Held" (selectionChange)="heldChange($event)"
                    [compareWith]="compareOptions">
                    <mat-option (click)="formGroup.get('heldEq').reset()" value="">None</mat-option>
                    <mat-option *ngFor="let item of heldItems" [value]="item">
                        {{ item.name }} {{item.uuid}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col" *ngIf="shieldItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Shield</mat-label>
                <mat-select formControlName="shieldEq" placeholder="Shield" [compareWith]="compareOptions"
                    (selectionChange)="onEQChange($event, eqslot.Shield)">
                    <mat-option (click)="formGroup.get('shieldEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of shieldItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col" *ngIf="wieldItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Wielded</mat-label>
                <mat-select formControlName="wieldEq" placeholder="Wielded" (selectionChange)="wieldChange($event)"
                    [compareWith]="compareOptions" [value]="item?.uuid === item?.uuid">
                    <mat-option (click)="
                    formGroup.get('wieldEq').reset()" value="">None</mat-option>
                    <mat-option *ngFor="let item of wieldItems" [value]="item">
                        {{ item.name }} {{item.uuid}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="wieldItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Sheathed</mat-label>
                <mat-select formControlName="sheathedEq" placeholder="Sheathed" [compareWith]="compareOptions"
                    (selectionChange)="sheathChange($event)" [value]="item?.uuid === item?.uuid">
                    <mat-option (click)="
                    formGroup.get('sheathedEq').reset()" value="">None</mat-option>

                    <mat-option *ngFor="let item of wieldItems" [value]="item">
                        {{ item.name }} {{item.uuid}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col" *ngIf="floatingItems.length">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Floating</mat-label>
                <mat-select formControlName="floatingEq" placeholder="Floating" [compareWith]="compareOptions">
                    <mat-option (click)="formGroup.get('floatingEq').reset()">None</mat-option>
                    <mat-option *ngFor="let item of floatingItems" [value]="item">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


</div>