<div class="client" [formGroup]="itemForm">
    <p class="room__description">Item Preview:</p>

    <table>
        <!-- *ngIf="itemForm.get('name').value" -->
        <!-- <tr>
            <td>Keywords</td>
            <td>{{itemForm.get('name').value}}</td>
        </tr> -->
        <tr>
            <td>Name</td>
            <td>{{itemForm.get('name').value}}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td> {{itemForm.get('itemType').value != null ? itemForm.get('itemType').value.name : 'undefined'}}</td>
        </tr>
        <tr>
            <td>Slot</td>

            <td> {{itemForm.get('itemSlotType').value != null ? itemForm.get('itemSlotType').value.name : 'undefined'}}
            </td>
        </tr>
        <tr>
            <td>Level</td>
            <td> {{itemForm.get('level').value}}</td>
        </tr>
        <!-- <tr>
            <td>Weight</td>
            <td> {{itemForm.get('level').value}}</td>
        </tr>
        <tr>
            <td>Condition</td>
            <td>
                99%
            </td>
        </tr> -->
        <!-- <tr class="stat-line">
            <td>stat Mods</td>
            <td>
                Hit roll
            </td>
            <td> {{itemForm.get('hitRoll').value}}</td>
        </tr>
        <tr>
            <td> </td>
            <td>
                Dam roll
            </td>
            <td> {{itemForm.get('DamageRoll').value}}</td>
        </tr>
        <tr>
            <td> </td>
            <td>
                Saves
            </td>
            <td> {{itemForm.get('saves').value}}</td>
        </tr>
        <tr>
            <td> </td>
            <td>
                HP mod
            </td>
            <td> {{itemForm.get('hpMod').value}}</td>
        </tr>

        <tr>
            <td> </td>
            <td>
                Mana mod
            </td>
            <td> {{itemForm.get('manaMod').value}}</td>
        </tr>
        <tr>
            <td> </td>
            <td>
                Moves mod
            </td>
            <td> {{itemForm.get('movesMod').value}}</td>
        </tr> -->

        <tr class="stat-line" *ngIf="itemForm.get('itemType').value?.id == 0">
            <td>Armor Type</td>
            <td> {{itemForm.get('itemType').value | json}}
                {{itemForm.get('armourType').value | armourType: itemForm.get('armourType').value }}
            </td>

            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('itemType').value?.id == 0">
            <td>Armor</td>
            <td>
                {{itemForm.get('acPierce').value}}
            </td>

            <td></td>
        </tr>

        <tr *ngIf="itemForm.get('itemType').value?.id == 0">
            <td>Spell Protection</td>
            <td>
                {{itemForm.get('acMagic').value}}
            </td>

            <td></td>
        </tr>
        <tr class="stat-line" *ngIf="itemForm.get('itemType').value?.id == 11">
            <td>Weapon Type</td>
            <td>
                {{itemForm.get('weaponType').value | weaponType: itemForm.get('weaponType').value }}
            </td>

            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('itemType').value?.id == 11">
            <td>Attack Type</td>
            <td>
                {{itemForm.get('attackType').value | attackType: itemForm.get('attackType').value }}
            </td>

            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('itemType').value?.id == 11">
            <td>Damage Type</td>
            <td>
                {{itemForm.get('damageType').value | damageType: itemForm.get('damageType').value}}
            </td>

            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('itemType').value?.id == 11">
            <td>Damage</td>
            <td>
                {{ itemForm.get('minDamage').value || 0}}-{{itemForm.get('maxDamage').value || 0}}({{
                itemForm.get('minDamage').value | averageDamage: itemForm.get('maxDamage').value }})
            </td>

            <td></td>
        </tr>
        <tr class="stat-line" *ngIf="itemForm.get('itemType').value?.id == 1">
            <td>Number of pages</td>
            <td>
                {{itemForm.get('pageCount').value}}
            </td>

            <td></td>
        </tr>
        <tr class="stat-line" *ngIf="itemForm.get('itemType').value?.id == 2">
            <td>Container Size</td>
            <td>
                {{itemForm.get('containerSize').value | containerSize: itemForm.get('containerSize').value}}
            </td>

            <td></td>
        </tr>

        <!-- <tr class="stat-line" *ngIf="itemForm.get('flags')">
            <td>flags</td>
            <td> {{itemForm.get('flags.Antievil').value}}
                <span *ngIf="itemForm.get('flags.Antievil').value">
                    Anti Evil
                </span>
            </td>

            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags')">
            <td></td>
            <td>
                <span *ngIf="itemForm.get('flags.Antigood').value">Anti Good</span>
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags')">
            <td></td>
            <td>
                <span *ngIf="itemForm.get('flags.Antigood').value">Anti Neutral</span>
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Bless').value">
            <td></td>
            <td>
                Bless
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Container').value">
            <td></td>
            <td>
                Container
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Container').value">
            <td></td>
            <td>
                Container
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Cursed').value">
            <td></td>
            <td>
                Cursed
            </td>
            <td></td>
        </tr>

        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Equipable').value">
            <td></td>
            <td>
                Equipable
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Evil').value">
            <td></td>
            <td>
                Evil
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Glow').value">
            <td></td>
            <td>
                Glow
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Holy').value">
            <td></td>
            <td>
                Holy
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Hum').value">
            <td></td>
            <td>
                Hum
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Invis').value">
            <td></td>
            <td>
                Invis
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Nodrop').value">
            <td></td>
            <td>
                No Drop
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Nolocate').value">
            <td></td>
            <td>
                No Locate
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Noremove').value">
            <td></td>
            <td>
                No Remove
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.QuestItem').value">
            <td></td>
            <td>
                Quest Item
            </td>
            <td></td>
        </tr>
        <tr *ngIf="itemForm.get('flags') && itemForm.get('flags.Vampric').value">
            <td></td>
            <td>
                Vampric
            </td>
            <td></td>
        </tr> -->
    </table>

    <p class="echo">> look</p>

    <p class="room__description">{{itemForm.get('lookDescription').value}}</p>
    <p class="echo">> exam</p>
    <p class="room__description">{{itemForm.get('examDescription').value}}</p>
    <p class="echo">> room</p>
    <p class="room__description">{{itemForm.get('roomDescription').value}}</p>
    <p class="echo">> smell</p>
    <p class="room__description">{{itemForm.get('smellDescription').value}}</p>
    <p class="echo">> touch</p>
    <p class="room__description">{{itemForm.get('touchDescription').value}}</p>
    <p class="echo">> taste</p>
    <p class="room__description">{{itemForm.get('tasteDescription').value}}</p>
</div>