<h1 mat-dialog-title>Manage Inventory</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">



            <app-item-selector (sendItemToParent)="addItemToInventory($event)"></app-item-selector>

            <h2>Inventory</h2>
            <div class="data-list">
                <div class="data-list__data" *ngFor="let data of filteredata; let i = index">
                    <a (click)="removeItem(filteredata, i)" class="fa fa-times-circle"></a>
                    <h3 [line-truncation]="2">{{data.name}}</h3>
                    <p class="data-list__data__description" [line-truncation]="3">{{data.description.look}}</p>


                    <div class="data-list__actions">

                        <div class="row">
                            <div class="col">
                                <p><i class="ra ra-sword"></i> Lvl: {{data.level}} / {{data.itemType | itemType }}</p>
                                <p><i class="fa fa-calendar"></i> {{data.dateUpdated | date: 'dd/MM/yyyy'}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a target="_blank" mat-raised-button color="primary"
                                    [routerLink]="['/edit-item/', data.id]">
                                    View
                                </a>
                            </div>

                            <div class="col">
                                <a mat-flat-button color="secondary" target="_blank"
                                    [routerLink]="['/world/edit-area', data.id]">
                                    Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>