table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  padding: 0 20px;

  button {
    width: 100%;
  }

  .exit {
    content: "";
    border: 1px solid #ccc;
    background: #ccc;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    height: 24px;
    top: -12px;
    width: 5px;
    &.exit--invalid {
      border: 1px solid red;
      background: red;
    }

    &.exit--north {
      left: 50%;
      height: 24px;
      top: -12px;

      &.exit--north--oneWay:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 13px 10px;
        border-color: transparent transparent #222 transparent;
        content: "";
        position: absolute;
        top: 4px;
        left: -10px;
      }
    }
    &.exit--northEast {
      left: 100%;
      height: 40px;
      top: -20%;
      transform: rotate(-130deg);
    }

    &.exit--east {
      left: 100%;
      height: 24px;
      top: 43%;
      transform: rotate(90deg);
    }
    &.exit--southEast {
      left: 100%;
      height: 40px;
      top: 81%;
      transform: rotate(130deg);
    }
    &.exit--south {
      left: 50%;
      height: 30px;
      top: 86%;
      width: 5px;

      &.exit--south--oneway:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 13px 10px;
        border-color: transparent transparent #222 transparent;
        content: "";
        position: absolute;
        top: 4px;
        left: -10px;
        transform: rotate(180deg);
      }


    }
    &.exit--southWest {
      left: 0%;
      height: 40px;
      top: 81%;
      transform: rotate(-130deg);
    }

    &.exit--west {
      left: 0%;
      height: 24px;
      top: 43%;
      transform: rotate(90deg);
    }

    &.exit--northWest {
      left: 0%;
      height: 40px;
      top: -20%;
      transform: rotate(130deg);
    }
  }
}

td,
th {
  width: 25%;
  position: relative;
}
