<div class="container-fluid view-area">
    <app-header>Area: {{area.title}}</app-header>
    <div class="row">
        <div class="col">
            <div class="panel">


                <div class="row">
                    <div class="col">
                        <b>{{area.title}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <p>{{area.description}}</p>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col col-md-1">
                        <br />
                        <button mat-raised-button [routerLink]="['/world/edit-area/', area.id]">Edit
                            Area</button>

                    </div>
                    <div class="col col-md-1">
                        <br />
                        <div class="button-container">
                            <div class="spinner-container" *ngIf="exporting">
                                <mat-spinner diameter="24"></mat-spinner>
                            </div>
                            <a href="javascript:void(0)" mat-raised-button color="secondary" (click)="exportRoom()"
                                [disabled]="exporting">Export
                                Area</a>
                        </div>
                    </div>
                </div>


            </div>



            <div class="panel">
                <h2>Room Layout</h2>

                <div class="row">
                    <div class="col">
                        <button mat-raised-button color="secondary" (click)="increaseZaxis()">Increase Z-Axis
                        </button>
                    </div>
                    <div class="col">
                        <button mat-raised-button color="secondary" (click)="decreaseZaxis()">Decrease Z-Axis
                        </button>
                    </div>
                </div>




                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="min-width:100px"
                                *ngFor="let row of ' '.repeat(totalCol).split(''); let i = index"></th>

                        </tr>
                        <tr *ngFor="let row of ' '.repeat(totalRow).split(''); let y = index">
                            <td class="exit-map" *ngFor="let row of ' '.repeat(totalCol).split(''); let i = index">

                                <div class="exit exit--north  {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | setRoomClass :'north':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasNorthExit:rooms :roomTable)">
                                </div>

                                <!-- Two way {{isTwoWayExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis})}} -->
                                <div class="exit exit--northEast  {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | setRoomClass :'northEast':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasNorthEastExit:rooms :roomTable)">
                                </div>

                                <div class="exit exit--east  {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | setRoomClass :'east':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasEastExit:rooms :roomTable)">
                                </div>
                                <div class="exit exit--southEast  {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis}  | setRoomClass :'southEast':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasSouthEastExit:rooms :roomTable)">
                                    >
                                </div>

                                <div class="exit exit--south {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | setRoomClass :'south':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasSouthExit:rooms :roomTable)">
                                </div>

                                <div class="exit exit--southWest {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | setRoomClass :'southWest':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasSouthWestExit:rooms :roomTable)">
                                </div>

                                <div class="exit exit--west {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis}| setRoomClass :'west':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasWestExit:rooms :roomTable)">
                                </div>

                                <div class="exit exit--northWest {{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis}| setRoomClass :'northWest':roomTable)}}"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |hasNorthWestExit:rooms :roomTable)">
                                </div>



                                <button mat-raised-button
                                    [routerLink]="['/world/area/' + area.id + '/edit-room',({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | isRoom:rooms :'id')]"
                                    *ngIf="({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | isRoom: rooms)"
                                    color="primary">{{({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} |
                                    isRoom:rooms)}}
                                    <br /> ({{ i + this.minValueOfX}}, {{this.maxValueOfY - y}}, {{zaxis}} )</button>

                                <button mat-raised-button
                                    [routerLink]="['/world/area/' + area.id + '/add-room', i + this.minValueOfX, this.maxValueOfY - y, zaxis]"
                                    *ngIf="!({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:zaxis} | isRoom: rooms)">Add
                                    Room <br /> ({{ i + this.minValueOfX}}, {{this.maxValueOfY - y}},
                                    {{zaxis}})</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>

            <!-- 
            <div class="panel room-list-view">
                <h2>Rooms</h2>
                <mat-form-field appearance="outline" class="form-control">
                    <mat-label>Filter Rooms</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter rooms">
                </mat-form-field>

                <div class="data-list">
                    <div class="data-list__data" *ngFor="let data of filteredata; let i = index;">
                        <a (click)="removeItem(filteredata, i, data.id)" class="fa fa-times-circle"></a>
                        <h3 [line-truncation]="2">{{data.title}}</h3>
                        <p class="data-list__data__description" [line-truncation]="3">{{data.description}}</p>


                        <div class="data-list__actions">

                            <div class="row">
                                <div class="col">
                                    <p><i class="fa fa-sitemap"></i>
                                        ({{data.coords.x}},{{data.coords.y}},{{data.coords.z}})</p>
                                    <p><i class="fa fa-calendar"></i> {{data.dateUpdated | date: 'dd/MM/yyyy'}}</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button mat-raised-button color="primary"
                                        [routerLink]="['/world/area/1/edit-room', data.id]">
                                        View / Edit
                                    </button>
                                </div>
                                <div class="col">
                                    <button mat-flat-button color="secondary"
                                        [routerLink]="['/world/edit-area', data.id]" disabled>
                                        Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div> -->
        </div>
    </div>
</div>