<div class="container-fluid view-area">
    <app-header>Area: {{area.title}}</app-header>
    <div class="row">
        <div class="col">
            <div class="panel">


                <div class="row">
                    <div class="col">
                        <b>{{area.title}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                        <p>{{area.description}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <br />
                        <button mat-raised-button [routerLink]="['/add-area', area.id ? '' : area.id]">Edit
                            Area</button>

                    </div>
                </div>

            </div>



            <div class="panel">
                <h2>Room Layout</h2>

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="min-width:100px"
                                *ngFor="let row of ' '.repeat(totalCol).split(''); let i = index"></th>

                        </tr>
                        <tr *ngFor="let row of ' '.repeat(totalRow).split(''); let y = index">
                            <td *ngFor="let row of ' '.repeat(totalCol).split(''); let i = index">

                                <div class="exit exit--north  {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'north')}}"
                                    *ngIf="hasNorthExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})"></div>

                                <!-- Two way {{isTwoWayExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})}} -->
                                <div class="exit exit--northEast  {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'northEast')}}"
                                    *ngIf="hasNorthEastExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})">
                                </div>

                                <div class="exit exit--east  {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'east')}}"
                                    *ngIf="hasEastExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})"></div>
                                <div class="exit exit--southEast  {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'southEast')}}"
                                    *ngIf="hasSouthEastExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})">
                                </div>

                                <div class="exit exit--south {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'south')}}"
                                    *ngIf="hasSouthExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})"></div>

                                <div class="exit exit--southWest {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'southWest')}}"
                                    *ngIf="hasSouthWestExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})">
                                </div>

                                <div class="exit exit--west {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'west')}}"
                                    *ngIf="hasWestExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})"></div>

                                <div class="exit exit--northWest {{setRoomClass({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}, 'northWest')}}"
                                    *ngIf="hasNorthWestExit({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})">
                                </div>



                                <button mat-raised-button
                                    [routerLink]="['/world/area/' + area.id + '/edit-room',isRoom({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}).id]"
                                    *ngIf="isRoom({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})"
                                    color="primary">{{isRoom({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0}).title}}
                                    <br /> ({{ i + this.minValueOfX}}, {{this.maxValueOfY - y}} )</button>

                                <button mat-raised-button
                                    [routerLink]="['/world/area/' + area.id + '/add-room', i + this.minValueOfX, this.maxValueOfY - y, 0]"
                                    *ngIf="!isRoom({x: i + this.minValueOfX, y:this.maxValueOfY - y, z:0})">Add
                                    Room <br /> ({{ i + this.minValueOfX}}, {{this.maxValueOfY - y}})</button>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>


            <div class="panel">
                <h2>Rooms</h2>
                <mat-form-field appearance="outline" class="form-control">
                    <mat-label>Filter Rooms</mat-label>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter rooms">
                </mat-form-field>



                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- ID Column -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                            <td mat-cell *matCellDef="let row"> {{row.id}}</td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let row"> {{row.title}}</td>
                        </ng-container>

                        <!-- Coords Column -->
                        <ng-container matColumnDef="coords">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Coordinates </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.color">
                                ({{row.coords.x}},{{row.coords.y}},{{row.coords.z}})</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                        </tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>