<div class="client" [formGroup]="form">
    <p class="room__description">Class Preview:</p>

    <table>

        <tr>
            <td>Name</td>
            <td>{{form.get('name').value}}</td>
        </tr>
        <tr>
            <td>Help Text</td>
            <td> {{form.get('description').value}}</td>
        </tr>
        <tr>
            <td>Dice roll</td>

            <td>{{form.get('diceRoll').value || 1}}d{{form.get('diceMaxSize').value || 0}}
            </td>
        </tr>


        <tr>
            <td>Spell Cost</td>
            <td>WIP</td>
        </tr>

    </table>



    <p class="echo">Attribute Bonuses</p>



    <table class="table-border">

        <tr>
            <td>Name</td>
            <td>Value</td>

        </tr>

        <tr *ngFor="let attribute of attributes.controls; let i=index">

            <td>
                {{attributes.controls[i].get('attribute')?.value | effectLocationPipe}}
            </td>
            <td>
                {{attributes.controls[i].get('value')?.value}}
            </td>
            <!-- <td>
                {{attributes.controls[i].get('duration').value}}
            </td>

            <td>
                {{attributes.controls[i].get('location').value | effectLocationPipe}}
                {{attributes.controls[i].get('modifier').value}}
            </td> -->
        </tr>


    </table>
    <div *ngIf="classSkillsList != null">
        <p class="echo">Skills & Spells</p>


        <div class="row skills">
            <div class="col-12" *ngFor="let skill of classSkillsList">
                Level {{skill.level}} : {{skill?.skill?.name || skill.skill}}
            </div>

        </div>
    </div>

</div>