table {
    color: #fff;
    width: 100%;

    td {
        padding: 3px 10px;

        &:first-of-type {
            border-right: 1px white dashed;
        }
    }
    border: 1px white dashed;

    .stat-line td {
        border-top: 1px white dashed;
    }
}

.table-border {
    td {
        border-right: 1px white dashed;
    }
}

.skills {
    color: #fff;
}
