<div class="container-fluid new-room">
    <app-header>Edit room</app-header>
    <div class="row">
        <div class="col-md-7 col">
            <div class="panel">
                <form novalidate [formGroup]="addRoomForm" (ngSubmit)="saveRoom()">
                    <h2>Room Information:</h2>
                    <div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="form-control">
                                    <mat-label>Title</mat-label>
                                    <input matInput placeholder="Title" value="" required formControlName="title" />
                                    <mat-error *ngIf="addRoomForm.get('title').hasError('required')">
                                        Room title is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="form-control">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Title" cdkTextareaAutosize
                                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                        required formControlName="description"></textarea>
                                    <mat-error *ngIf="addRoomForm.get('description').hasError('required')">
                                        Room description is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <h2>Room Objects:</h2>
                        <p>
                            These are used to add more Information about key items highlighted in
                            the description.
                        </p>
                    </div>
                    <div class="section">
                        <div class="row room__addObjects">
                            <div class="col">
                                <div class="room__addObjects__section" formArrayName="roomObjects" *ngFor="
                let roomObject of getRoomObjectsControl.controls;
                let i = index
              ">
                                    <div [formGroupName]="i">
                                        <mat-form-field appearance="outline" class="form-control">
                                            <mat-label>Keyword</mat-label>
                                            <input type="text" matInput placeholder="e.g table"
                                                formControlName="name" />
                                        </mat-form-field>

                                        <div class="row">
                                            <div class="col">
                                                <mat-form-field appearance="outline" class="form-control">
                                                    <mat-label>Look</mat-label>
                                                    <textarea matInput
                                                        placeholder="e.g the table is made out of hard wood, upon the table you find..."
                                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                        formControlName="look"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="outline" class="form-control">
                                                    <mat-label>Examine</mat-label>
                                                    <textarea matInput
                                                        placeholder="A more verbose description compared to look"
                                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                        formControlName="examine"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <mat-form-field appearance="outline" class="form-control">
                                                    <mat-label>Touch</mat-label>
                                                    <textarea matInput placeholder="How does the object feel?"
                                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                        formControlName="touch"></textarea>
                                                </mat-form-field>
                                            </div>

                                            <div class="col">
                                                <mat-form-field appearance="outline" class="form-control">
                                                    <mat-label>Taste</mat-label>
                                                    <textarea matInput placeholder="How does the object taste?"
                                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                        formControlName="taste"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <div class="col">
                                                <mat-form-field appearance="outline" class="form-control">
                                                    <mat-label>Smell</mat-label>
                                                    <textarea matInput placeholder="How does the object smell?"
                                                        cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                        cdkAutosizeMinRows="2" cdkAutosizeMaxRows="20"
                                                        formControlName="smell"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <button mat-raised-button (click)="removeRoomObject(i)"
                                        type="button">Remove</button>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <button mat-raised-button color="primary" (click)="this.addRoomObject(null)"
                                            type="button">Add another
                                            Room
                                            Object</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <h2>Room &amp; Terrain Type:</h2>
                        <p>
                            Room Type changes the room colour in the map and may affect how the player can interact with
                            the room.
                            Example: River will mean the player can fish/swim. Shop means it will show up a shop on the
                            map.

                            Terrain affects the experience of the player, if set to inside then no weather messages will
                            be sent to the player
                        </p>

                        <div class="row">
                            <div class="col">
                                <mat-form-field appearance="outline" class="form-control">
                                    <mat-label>Room Type</mat-label>
                                    <mat-select formControlName="type" placeholder="Room Type">
                                        <mat-option *ngFor="let type of RoomTypes" [value]="type.value">
                                            {{ type.name }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                            <div class="col">
                                <mat-form-field appearance="outline" class="form-control">
                                    <mat-label>Terrain Type</mat-label>
                                    <mat-select formControlName="terrainType" placeholder="Terrain Type">
                                        <mat-option *ngFor="let type of TerrainTypes" [value]="type.value">
                                            {{ type.name }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <h2>Items</h2>

                        <app-item-list [data]="items"></app-item-list>
                    </div>

                    <div class="section">
                        <h2>Mobs</h2>

                        <app-mob-list [data]="mobs"></app-mob-list>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Emotes</h2>
                                </div>
                            </div>
                            <div formArrayName="emotes" class="emotes"
                                *ngFor="let emote of getEmotesControl.controls; let i=index">

                                <mat-form-field appearance="outline" class="form-control" [formGroupName]="i">
                                    <mat-label>Emotes</mat-label>
                                    <input type="text" matInput placeholder="emote" formControlName="emote" />

                                </mat-form-field>
                                <a class="btn btn-danger btn-sm" (click)="removeLink(i)">Remove</a>
                            </div>
                            <a (click)="this.addEmote('')">Add another emote</a>

                        </div>
                    </div>


                    <app-exit-component (exitValueChange)="onExitValueChange($event)" [addRoomForm]="this.addRoomForm">
                    </app-exit-component>

                    <button mat-raised-button color="primary" type="submit" [disabled]="addRoomForm.invalid">
                        Save Room
                    </button>
                </form>
            </div>
        </div>

        <div class="col col-md-5">
            <app-room-preview-component [addRoomForm]="this.addRoomForm" [exits]="exits" [mobs]="mobs" [items]="items"
                [roomObjects]="getRoomObjectsControl.controls">
            </app-room-preview-component>
        </div>
    </div>
</div>