<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Armour Type</mat-label>
        <mat-select formControlName="armourType" placeholder="armour Type" required
            (selectionChange)="onChange($event)">
            <mat-option *ngFor="let armourType of armourTypes" [value]="armourType">
                {{ armourType.id | armourType: armourType.id}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('armourType').hasError('required')">attack type is required</mat-error>
    </mat-form-field>
</form>