<h1 mat-dialog-title>Manage {{exitDirection}} Exit</h1>
<div mat-dialog-content>

    <form novalidate [formGroup]="form" (ngSubmit)="addExit()">
        <div class="row">
            <div class="col">



                <div class="row">
                    <div class="col">
                        <h2>Coordinates</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="form-control">
                            <mat-label>X:</mat-label>
                            <input matInput placeholder="X Coord" required formControlName="coordX" />
                            <mat-error *ngIf="form.get('coordX').hasError('required')">
                                X coord is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="form-control">
                            <mat-label>Y:</mat-label>
                            <input matInput placeholder="Y Coord" required formControlName="coordY" />
                            <mat-error *ngIf="form.get('coordY').hasError('required')">
                                Y coord is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="form-control">
                            <mat-label>Z:</mat-label>
                            <input matInput placeholder="Z Coord" required formControlName="coordZ" />
                            <mat-error *ngIf="form.get('coordZ').hasError('required')">
                                Z coord is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>



                <div class="row">
                    <div class="col">
                        <h2>Exit Properties</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-checkbox formControlName="door">Door</mat-checkbox>
                    </div>
                </div>
                <br />
                <div *ngIf="form.get('door').value">

                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Defaults to exit direction, use for hidden exits" required
                                    formControlName="name" />
                                <mat-error *ngIf="form.get('name').hasError('required')">
                                    Name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Keywords</mat-label>
                                <input matInput placeholder="Defaults to exit direction, use for hidden exits" required
                                    formControlName="keyword" />
                                <mat-error *ngIf="form.get('keyword').hasError('required')">
                                    keyword is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <mat-checkbox formControlName="closed">Closed</mat-checkbox>
                        </div>
                        <div class="col">
                            <mat-checkbox formControlName="canLock">Locked</mat-checkbox>
                        </div>
                        <div class="col">
                            <mat-checkbox formControlName="pickProof">Pick Proof</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <mat-checkbox formControlName="noPass">No pass</mat-checkbox>

                        </div>
                        <div class="col">
                            <mat-checkbox formControlName="noScan">No Scan</mat-checkbox>

                        </div>
                        <div class="col">
                            <mat-checkbox formControlName="hidden">Hidden</mat-checkbox>

                        </div>

                    </div>


                    <div *ngIf="form.get('locked').value">

                        <div class="row">
                            <div class="col">
                                <h2>Unlock Key</h2>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col">
                                <mat-form-field appearance="outline" class="form-control">
                                    <mat-label>Key Id:</mat-label>
                                    <input matInput placeholder="ID of key to unlock" required
                                        formControlName="lockId" />
                                    <mat-error *ngIf="form.get('lockId').hasError('required')">
                                        key id is required.
                                    </mat-error>
                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                </div>



                <button mat-raised-button color="primary" type="submit">
                    Add exit
                </button>
            </div>
        </div>
    </form>
</div>