<h1 mat-dialog-title>Manage Exit</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col">


            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Exit Name</mat-label>
                        <input matInput placeholder="Exit name" required formControlName="CoordX" />
                        <mat-error *ngIf="addRoomForm.get('CoordX').hasError('required')">
                            X coord is required.
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Area Id:</mat-label>
                        <input matInput placeholder="Z Coord" required formControlName="CoordZ" />
                        <mat-error *ngIf="addRoomForm.get('CoordY').hasError('required')">
                            z coord is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="form-control">
                        <mat-label>X:</mat-label>
                        <input matInput placeholder="X Coord" required formControlName="CoordX" />
                        <mat-error *ngIf="addRoomForm.get('CoordX').hasError('required')">
                            X coord is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3">
                    <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Y:</mat-label>
                        <input matInput placeholder="Y Coord" required formControlName="CoordY" />
                        <mat-error *ngIf="addRoomForm.get('CoordY').hasError('required')">
                            y coord is required.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-3">
                    <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Z:</mat-label>
                        <input matInput placeholder="Z Coord" required formControlName="CoordZ" />
                        <mat-error *ngIf="addRoomForm.get('CoordY').hasError('required')">
                            z coord is required.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-checkbox>Open</mat-checkbox>
                </div> <div class="col">
                    <mat-checkbox>Can Open</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox>Can Lock</mat-checkbox>
                </div>
                <div class="col">
                    <mat-checkbox>Locked</mat-checkbox>
                </div>

            </div>

            <button mat-raised-button color="secondary" type="button">
                Add custom exit
            </button>
        </div>
    </div>

</div>
