
.table-wrapper {
     
    min-width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  
 
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }

  .panel {
      overflow-y: auto;
  }