<div class="container-fluid setttings">
    <app-header>Manage Accounts</app-header>


    <div class="row" *ngIf="isAdmin()">
        <div class="col">
            <div class="panel">
                <h2>Add User</h2>
                <form novalidate [formGroup]="addAccountForm" (ngSubmit)="addUser()">

                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Username</mat-label>
                                <input matInput placeholder="Username" formControlName="username" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="outline">
                                <mat-label>Role</mat-label>
                                <mat-select placeholder="Role" formControlName="role">
                                    <mat-option value="Admin">
                                        Admin
                                    </mat-option>
                                    <mat-option value="Builder">
                                        Builder
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div>
                        <mat-form-field appearance="outline" class="form-control">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" formControlName="password" type="password" required>
                        </mat-form-field>
                    </div>


                    <button mat-raised-button color="primary" type="submit" [disabled]="!addAccountForm.valid">Add
                        User</button>

                </form>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">

            <div class="panel">
                <h2>Users</h2>

                <div class="table-wrapper">
                    <table mat-table [dataSource]="dataSource">


                        <!-- username Column -->
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                        </ng-container>


                        <!-- role Column -->
                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef> Role </th>
                            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                        </ng-container>

                        <ng-container matColumnDef="contributions">
                            <th mat-header-cell *matHeaderCellDef>Contributions</th>
                            <td mat-cell *matCellDef="let element"> {{element.contributions}} </td>
                        </ng-container>


                        <ng-container matColumnDef="lastActive">
                            <th mat-header-cell *matHeaderCellDef> Last Active </th>
                            <td mat-cell *matCellDef="let element"> {{element.lastActive | date: 'dd/MM/yyyy'}} </td>
                        </ng-container>


                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element"> <button style="margin-right: 10px;"
                                    mat-raised-button color="primary" type="button" (click)="editUser(element)"
                                    *ngIf="element.canEdit">Edit</button>

                                <button *ngIf="element.id != 1 && element.canDelete" mat-raised-button color="secondary"
                                    type="button" (click)="deleteUser(element.id)">Delete</button> </td>
                        </ng-container>





                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator #paginator [length]="users?.length" [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                    </mat-paginator>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <div class="panel">
                <h2>Logs</h2>

                <div class="table-wrapper">
                    <table mat-table [dataSource]="logData">


                        <!-- username Column -->
                        <ng-container matColumnDef="username">
                            <th mat-header-cell *matHeaderCellDef> Username </th>
                            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                        </ng-container>


                        <!-- role Column -->
                        <ng-container matColumnDef="details">
                            <th mat-header-cell *matHeaderCellDef> Details </th>
                            <td mat-cell *matCellDef="let element">Modified: {{element.type | DBType}}
                                {{element.detail}} </td>
                        </ng-container>

                        <ng-container matColumnDef="created">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let element"> {{element.created | date: 'dd/MM/yyyy'}} </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="logCols"></tr>
                        <tr mat-row *matRowDef="let row; columns: logCols;"></tr>
                    </table>
                    <mat-paginator #paginator2 [length]="logs?.length" [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                    </mat-paginator>
                </div>

            </div>
        </div>
    </div>

</div>