<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Weapon Type</mat-label>
        <mat-select formControlName="weaponType" placeholder="weapon Type" required
            (selectionChange)="onChange($event)">
            <mat-option *ngFor="let weaponType of weaponTypes" [value]="weaponType.id">
                {{ weaponType.id | weaponType: weaponType.id  }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('weaponType').hasError('required')">weapon type is required</mat-error>
    </mat-form-field>
</form>