<div [formGroup]="formGroup">
    <h2>Inventory</h2>



    <div class="row" style="margin-bottom: 20px;">
        <div class="col">
            <mat-form-field appearance="outline" class="form-control">
                <mat-label>Add item to inventory</mat-label>
                <input type="text" placeholder="Search for an item" aria-label="Assignee" matInput
                    formControlName="selectInventoryItem" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItems">
                    <mat-option *ngFor="let option of filteredItems | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <a href="javascript:(0)" mat-raised-button color="secondary" (click)="addItemToInventory()">Add
                item</a>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <h2>Items</h2>
            <ol style="margin-left:20px; padding:0;">
                <li *ngFor="let item of inventoryItems; let i = index" style="margin-bottom: 8px;">
                    <a href="javascript:void(0)" (click)="removeItemFromInventory(i)" class="fa fa-times"
                        title="Remove item" style="color: tomato"></a>
                    {{item.name}}
                    {{item.equipped ? '(Equipped)' : ''}}
                </li>
            </ol>
        </div>
    </div>
</div>