<div class="container-fluid view-items">
    <app-header>Edit Player</app-header>

    <div class="row">
        <div class="col col-lg-7">


            <div class="panel">
                <mat-spinner *ngIf="!loaded"></mat-spinner>

                <form *ngIf="loaded" novalidate [formGroup]="playerForm" (ngSubmit)="editPlayer()">
                 
                    <h2>Basic Information</h2>

                    <p>Entering the fields below updates the JSON object, but editing the JSON object does not change these fields.</p>
                    <br />
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="e.g Goblin" required formControlName="name">
                                <mat-error *ngIf="playerForm.get('name').hasError('required')">
                                    Mob name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>


                    </div>

 
                    <div class="row">
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2>Description</h2>
                                </div>
                            </div>
                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Description</mat-label>
                                <textarea matInput placeholder="Description" required formControlName="description"
                                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                    cdkAutosizeMaxRows="10" (selectionChange)="triggerDescriptionResize()">

                      </textarea>
                                <mat-error *ngIf="playerForm.get('description').hasError('required')">
                                    Mob description is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col">

                            <h2>Enter / Leave Emotes</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">

                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Enter Room</mat-label>
                                <input type="text" matInput placeholder="commands. e.g n;e;s;w;n"
                                    formControlName="enterEmote" />

                            </mat-form-field>

                        </div>
                        <div class="col">

                            <mat-form-field appearance="outline" class="form-control">
                                <mat-label>Leave Room</mat-label>
                                <input type="text" matInput placeholder="commands. e.g n;e;s;w;n"
                                    formControlName="leaveEmote" />

                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h2>Set Role</h2>

                            <mat-form-field appearance="outline">
                                <mat-label>Role</mat-label>
                                <mat-select placeholder="Role" formControlName="userRole">
                                    <mat-option value="1">
                                        Player
                                    </mat-option>
                                    <mat-option value="2">
                                        Builder
                                    </mat-option>
                                    <mat-option value="2">
                                        Staff
                                    </mat-option>
                                    <mat-option value="4">
                                        Admin
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <br />

                 <h2>Edit Player JSON Object</h2>
                    <ngs-code-editor [ngStyle]="{ 'height': '700px' }" theme="vs-dark" [(codeModel)]="itemModel"
                    [options]="options" (valueChanged)="onCodeChanged($event)">
                </ngs-code-editor>
    


                    <button mat-raised-button color="primary" type="submit" [disabled]="playerForm.invalid">Update
                        Player</button>
                </form>
            </div>
        </div>
        <div class="col col-lg-5">
            <div class="client">
          
                        <h2 style="color:white">Command Log</h2>

                        <div style="max-height:100vh; overflow: scroll">
                        <p *ngFor="let log of commandLog">{{log}}</p>
                
                </div>
            </div>
        </div>
    </div>
</div>