<div class="container-fluid dashboard">
    <app-header>Dashboard</app-header>

    <div class="grid">
        <div class="stat-card">

            <p class="col-heading"><i class="fa fa-shield" aria-hidden="true"></i> Items</p>
            <p class="col-count">{{quickStats.itemCount | number}}</p>
        </div>
        <div class="stat-card">
            <p class="col-heading"><i class="ra ra-fox" aria-hidden="true"></i> Mobs</p>
            <p class="col-count">{{quickStats.mobCount  | number}}</p>

        </div>
        <div class="stat-card">
            <p class="col-heading"><i class="fa fa-map-signs" aria-hidden="true"></i> Areas / Rooms</p>
            <p class="col-count">{{quickStats.areaCount | number}} / {{quickStats.roomCount | number}}</p>

        </div>
        <div class="stat-card">
            <p class="col-heading"><i class="fa fa-question" aria-hidden="true"></i> Quests</p>
            <p class="col-count">{{quickStats.questCount | number}}</p>
        </div>
    </div>

    <div class="grid-charts">
        <div class="col">
            <h2>Players</h2>
            <app-line-chart></app-line-chart>
        </div>
        <div class="col">
            <h2>Mobs killed</h2>
            <app-line-chart></app-line-chart>
        </div>
    </div>

    <div class="grid-charts">
        <div class="col">
            <h2>Who's playing</h2>
            <table mat-table [dataSource]="dataSource" matSort>



                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <ng-container matColumnDef="race">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Race </th>
                    <td mat-cell *matCellDef="let row"> {{row.race}} </td>
                </ng-container>


                <ng-container matColumnDef="class">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
                    <td mat-cell *matCellDef="let row"> {{row.class}} </td>
                </ng-container>


                <!-- description Column -->
                <ng-container matColumnDef="level">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Level </th>
                    <td mat-cell *matCellDef="let row"> {{row.level}} </td>
                </ng-container>


                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>
                        Actions
                    </th>
                    <td mat-cell *matCellDef="let row"> <button mat-button [routerLink]="['/edit-mob', row.id]">
                            view
                        </button></td>
                    <td mat-cell *matCellDef="let row"> <button mat-button [routerLink]="['/edit-mob', row.id]">
                            Teleport
                        </button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        <div class="col">
            <h2>Levels gained</h2>
            <app-line-chart></app-line-chart>
        </div>
    </div>