.grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}

.stat-card {
    padding: 25px;
    background: #333;
}

.col-heading {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 0;
    margin-bottom: 15px;
}

.col-count {
    text-align: center;
    font-size: 45px;
    color: #fff;
    margin: 0;
}

.col-content {
    align-self: center;
}

.grid-charts {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 30px;
    overflow: hidden;

    .col {
        background-color: #333;
        padding: 25px;
        overflow-x: auto;

        h2 {
            color: #fff;
        }
    }
}
///@extend
