<div class="container-fluid setttings">
    <app-header>Socials</app-header>


    <div class="row">
        <div class="col">
            <div class="panel">

                <form novalidate [formGroup]="socialsForm" (ngSubmit)="updateSettings()">

                    <mat-form-field appearance="outline" class="form-control">
                        <mat-label>Starting Room</mat-label>
                        <input matInput placeholder="Enter room id" formControlName="startingRoom">
                    </mat-form-field>


                    <div>
                        <mat-form-field appearance="outline" class="form-control">
                            <mat-label>Default Recall Room</mat-label>
                            <input matInput placeholder="Enter room id" formControlName="recallRoom">
                        </mat-form-field>
                    </div>

                    <button mat-raised-button color="primary" type="submit">Update Settings</button>

                </form>

            </div>
        </div>
    </div>

</div>

<!-- 

<mat-form-field appearance="outline" class="form-control">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Item name" value="" required formControlName="name">
    <mat-error *ngIf="itemForm.get('name').hasError('required')">
        Item name is required.
    </mat-error>
</mat-form-field> -->