/* You can add global styles to this file, and also import other style files */
@import "./vendors/normalize/normalize";
@import "./node_modules/bootstrap/scss/bootstrap-grid";

@import "./app/shared/sass/forms.scss";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
a {
    text-decoration: none;
}
.float-right {
    float:right;
}
