/* You can add global styles to this file, and also import other style files */
@import "./vendors/normalize/normalize";
@import "./node_modules/bootstrap/scss/bootstrap-grid";

@import "./app/shared/sass/forms.scss";

body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100vh;
}
a {
    text-decoration: none;
}
.float-right {
    float:right;
}

.panel {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 25px 50px 50px 50px;
}