<form [formGroup]="formGroup">
    <mat-form-field appearance="outline">
        <mat-label>Item Slot</mat-label>
        <mat-select formControlName="itemSlotType" placeholder="Item Slot" required
            (selectionChange)="onChange($event)">
            <mat-option *ngFor="let itemSlotType of itemSlots" [value]="itemSlotType.id">
                {{ itemSlotType.name }} {{itemSlotType.id}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('itemSlotType').hasError('required')">Item slot is required</mat-error>
    </mat-form-field>
</form>