input[disabled] {
    color:#ccc!important;

    &:hover {
        cursor: not-allowed;
    }
}


.table-wrapper {
     
    min-width: 550px;
    max-width: 100%;
    overflow: auto;
  }
  
table {
    width: 800px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }