.room__addObjects {
    margin-bottom: 30px;
  
}

.room__addObjects__section {
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}

.section {
    margin-bottom: 30px;
}
