<div class="client" [formGroup]="mobForm">
    <p class="room__description">Mob Preview:</p>

    <p></p>

    <p class="room__title"> Score for {{mobForm.get('name').value}}.</p>

    <table style="border-top: 0 none;">
        <tr>
            <td class="cell-title">Level:</td>
            <td>{{mobForm.get('level').value}}</td>
            <td class="cell-title">Race:</td>
            <td>{{mobForm.get('race').value}}</td>
            <td class="cell-title">Born on:</td>
            <td>04/11/2020</td>
        </tr>
        <tr>
            <td class="cell-title">Years:</td>
            <td>n/a</td>
            <td class="cell-title">Class:</td>
            <td>{{mobForm.get('class').value}}</td>
            <td class="cell-title">Played:</td>
            <td>0 hours</td>
        </tr>
        <tr>
            <td class="cell-title">STR:</td>
            <td>{{mobForm.get('attributes').get('strength').value || 0}}({{mobForm.get('attributes').get('strength').value || 0}})
            </td>
            <td class="cell-title">HitRoll:</td>
            <td>5</td>
            <td class="cell-title">Sex:</td>
            <td>{{mobForm.get('gender').value}}</td>
        </tr>
        <tr>
            <td class="cell-title">DEX:</td>
            <td>{{mobForm.get('attributes').get('dexterity').value || 0}}({{mobForm.get('attributes').get('dexterity').value || 0}})
            <td class="cell-title">Damroll:</td>
            <td>10</td>
            <td class="cell-title">Wimpy:</td>
            <td>15</td>
        </tr>
        <tr>
            <td class="cell-title">Con:</td>
            <td>{{mobForm.get('attributes').get('constitution').value || 0}}({{mobForm.get('attributes').get('constitution').value || 0}})
            <td class="cell-title">Align:</td>
            <td>{{mobForm.get('alignment').value.name}}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell-title">Int:</td>
            <td>{{mobForm.get('attributes').get('intelligence').value || 0}}({{mobForm.get('attributes').get('intelligence').value || 0}})
            <td class="cell-title">Armour:</td>
            <td>well-crafted</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell-title">Wis:</td>
            <td>{{mobForm.get('attributes').get('wisdom').value || 0}}({{mobForm.get('attributes').get('wisdom').value || 0}})
            <td class="cell-title">Pos'n:</td>
            <td>{{mobForm.get('status').value | position}} </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell-title">Cha:</td>
            <td>{{mobForm.get('attributes').get('charisma').value || 0}}({{mobForm.get('attributes').get('charisma').value || 0}})
            <td class="cell-title">Style:</td>
            <td>Standard</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="cell-title"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell-title">Qpoints</td>
            <td>0</td>
            <td class="cell-title">HP</td>
            <td> {{mobForm.get('level').value | generateHp: mobForm.get('attributes').get('constitution').value || 1}} /
                {{mobForm.get('level').value | generateHp: mobForm.get('attributes').get('constitution').value || 1}}
            </td>
            <td class="cell-title">weight:</td>
            <td> {{mobForm.get('attributes').get('strength').value || 1 | generateWeightAllowance: mobForm.get('attributes').get('strength').value || 1 }}
                (max:
                {{mobForm.get('attributes').get('strength').value || 1 | generateWeightAllowance: mobForm.get('attributes').get('strength').value || 1 }})
            </td>
        </tr>
        <tr>
            <td class="cell-title">Pract:</td>
            <td>0</td>
            <td class="cell-title">Mana</td>
            <td>{{mobForm.get('level').value | generateMana: mobForm.get('attributes').get('intelligence').value || 1}}
                /
                {{mobForm.get('level').value | generateMana: mobForm.get('attributes').get('intelligence').value || 1}}
            </td>
            <td class="cell-title">Mkills:</td>
            <td>0</td>
        </tr>
        <tr>
            <td class="cell-title">Train:</td>
            <td>0</td>
            <td class="cell-title">Moves</td>
            <td>{{mobForm.get('level').value | generateMoves: mobForm.get('attributes').get('dexterity').value || 1}} /
                {{mobForm.get('level').value | generateMoves: mobForm.get('attributes').get('dexterity').value || 1}}
            </td>
            <td class="cell-title">MDeaths:</td>
            <td>0</td>
        </tr>
        <tr>
            <td class="cell-title">Gold:</td>
            <td>24000</td>
            <td class="cell-title">XP</td>
            <td>0</td>
            <td class="cell-title"></td>
            <td></td>
        </tr>
        <tr>
            <td class="cell-title">Bank:</td>
            <td>0</td>
            <td class="cell-title">TNL:</td>
            <td>0</td>
            <td class="cell-title"></td>
            <td></td>
        </tr>
    </table>



    <p class="echo">> look</p>

    <p class="room__description">{{mobForm.get('description').value}}</p>
    <br />
    <p class="room__description">{{mobForm.get('name').value}} is using:</p>

    <table style="border-top: 0 none;">
        <tr *ngIf="equipped.light">
            <td class="cell-title"> &lsaquo;used as light&rsaquo;</td>
            <td>{{equipped.light.name}}</td>
        </tr>
        <tr *ngIf="equipped.finger">
            <td class="cell-title"> &lsaquo;worn on finger&rsaquo;</td>
            <td>{{equipped.finger.name}}</td>
        </tr>
        <tr *ngIf="equipped.finger2">
            <td class="cell-title"> &lsaquo;worn on finger&rsaquo;</td>
            <td>{{equipped.finger2.name}}</td>
        </tr>
        <tr *ngIf="equipped.neck">
            <td class="cell-title"> &lsaquo;worn around neck&rsaquo;</td>
            <td>{{equipped.neck.name}}</td>
        </tr>
        <tr *ngIf="equipped.neck2">
            <td class="cell-title"> &lsaquo;worn around neck&rsaquo;</td>
            <td>{{equipped.neck2.name}}</td>
        </tr>
        <tr *ngIf="equipped.torso">
            <td class="cell-title"> &lsaquo;worn around torso&rsaquo;</td>
            <td>{{equipped.torso.name}}</td>
        </tr>
        <tr *ngIf="equipped.head">
            <td class="cell-title"> &lsaquo;worn around head&rsaquo;</td>
            <td>{{equipped.head.name}}</td>
        </tr>
        <tr *ngIf="equipped.legs">
            <td class="cell-title"> &lsaquo;worn around legs&rsaquo;</td>
            <td>{{equipped.legs.name}}</td>
        </tr>
        <tr *ngIf="equipped.hands">
            <td class="cell-title"> &lsaquo;worn around hands&rsaquo;</td>
            <td>{{equipped.hands.name}}</td>
        </tr>
        <tr *ngIf="equipped.arms">
            <td class="cell-title"> &lsaquo;worn around arms&rsaquo;</td>
            <td>{{equipped.arms.name}}</td>
        </tr>
        <tr *ngIf="equipped.shield">
            <td class="cell-title"> &lsaquo;worn around shield&rsaquo;</td>
            <td>{{equipped.shield.name}}</td>
        </tr>
        <tr *ngIf="equipped.body">
            <td class="cell-title"> &lsaquo;worn about body&rsaquo;</td>
            <td>{{equipped.body.name}}</td>
        </tr>
        <tr *ngIf="equipped.waist">
            <td class="cell-title"> &lsaquo;worn about waist&rsaquo;</td>
            <td>{{equipped.waist.name}}</td>
        </tr>
        <tr *ngIf="equipped.wrist">
            <td class="cell-title"> &lsaquo;worn around wrist&rsaquo;</td>
            <td>{{equipped.wrist.name}}</td>
        </tr>
        <tr *ngIf="equipped.wrist2">
            <td class="cell-title"> &lsaquo;worn around wrist&rsaquo;</td>
            <td>{{equipped.wrist2.name}}</td>
        </tr>
        <tr *ngIf="equipped.wield">
            <td class="cell-title"> &lsaquo;worn around wielded&rsaquo;</td>
            <td>{{equipped.wield.name}}</td>
        </tr>
        <tr *ngIf="equipped.held">
            <td class="cell-title"> &lsaquo;worn around held&rsaquo;</td>
            <td>{{equipped.held.name}}</td>
        </tr>
        <!-- <tr *ngIf="equipped.qu">
            <td class="cell-title"> &lsaquo;worn as quiver&rsaquo;</td>
            <td>{{equipped.held.name}}</td>
        </tr> -->
    </table>





    <p class="echo">> room</p>
    <p class="room__description">{{mobForm.get('name').value}} is here.</p>

    <p class="echo">> emotes</p>
    <p class="room__description">{{mobForm.get('name').value}} is here.</p>





    <!-- <p class="echo">> exam</p>
    <p class="room__description">{{itemForm.get('examDescription').value}}</p>
    <p class="echo">> room</p>
    <p class="room__description">{{itemForm.get('roomDescription').value}}</p>
    <p class="echo">> smell</p>
    <p class="room__description">{{itemForm.get('smellDescription').value}}</p>
    <p class="echo">> touch</p>
    <p class="room__description">{{itemForm.get('touchDescription').value}}</p>
    <p class="echo">> taste</p>
    <p class="room__description">{{itemForm.get('tasteDescription').value}}</p> -->
</div>